In [1]:
import pyforest
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline
# from autoviz.AutoViz_Class import AutoViz_Class
import seaborn as sns
import missingno as msno

import bs4 as bs
import requests

import scipy.stats as stats
import keras as ks
# import tensorflow as tf
import cv2 as cv

import re
import os
import datetime
import random
import time

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
sns.set(style='whitegrid', color_codes=True, font_scale=1.5, palette='plasma', font='Arial', rc={'figure.figsize':(8,6)})

In [3]:
df=pd.read_csv('./imdb.csv')
# df.drop(['S.No'] , axis=1, inplace=True)
df.head()

,movie_title,year,star_cast,rating
0,Drishyam 2,2021,"Jeethu Joseph (dir.), Mohanlal, Meena",8.00
1,Dune: Part One,2021,"Denis Villeneuve (dir.), Timothée Chalamet, Re...",8.20
2,The Father,2020,"Florian Zeller (dir.), Anthony Hopkins, Olivia...",8.20
3,Hamilton,2020,"Thomas Kail (dir.), Lin-Manuel Miranda, Philli...",8.30
4,Avengers: Endgame,2019,"Anthony Russo (dir.), Robert Downey Jr., Chris...",8.30

In [4]:
movies = df['movie_title'].unique()
movies

array(['Drishyam 2', 'Dune: Part One', 'The Father', 'Hamilton',
       'Avengers: Endgame', 'Klaus', 'Gisaengchung', '1917',
       'Ford v Ferrari', 'Joker', 'Spider-Man: Into the Spider-Verse',
       'Avengers: Infinity War', 'Green Book', 'Andhadhun', 'Capharnaüm',
       'Logan', 'Three Billboards Outside Ebbing, Missouri', 'Coco',
       'Ah-ga-ssi', 'Koe no katachi', 'Dangal', 'Kimi no na wa',
       'Hacksaw Ridge', 'Inside Out', 'Mad Max: Fury Road', 'Room',
       'Spotlight', 'The Grand Budapest Hotel', 'Whiplash', 'Gone Girl',
       'Relatos salvajes', 'Interstellar', 'Mandariinid',
       'The Wolf of Wall Street', '12 Years a Slave', 'Rush', 'Prisoners',
       'Jagten', 'The Dark Knight Rises', 'Django Unchained',
       'Gangs of Wasseypur', 'The Intouchables',
       'Harry Potter and the Deathly Hallows: Part 2',
       'Jodaeiye Nader az Simin', 'Warrior', 'Shutter Island',
       'Inception', 'Toy Story 3', 'How to Train Your Dragon',
       'Incendies', '3 Idiots', 'Up', 'El secreto de sus ojos',
       'Inglourious Basterds', "Hachi: A Dog's Tale", 'Mary and Max',
       'Gran Torino', 'WALL·E', 'The Dark Knight', 'Into the Wild',
       'There Will Be Blood', 'No Country for Old Men',
       'Taare Zameen Par', 'The Prestige', "Pan's Labyrinth",
       'The Departed', 'The Lives of Others', 'Babam ve Oglum',
       'V for Vendetta', 'Batman Begins',
       'Eternal Sunshine of the Spotless Mind', 'Der Untergang',
       'Hauru no ugoku shiro', 'Million Dollar Baby', 'Hotel Rwanda',
       'Before Sunset', 'Salinui chueok', 'Oldeuboi',
       'The Lord of the Rings: The Return of the King', 'Finding Nemo',
       'Kill Bill: Vol 1', 'Cidade de Deus',
       'The Lord of the Rings: The Two Towers', 'The Pianist',
       'Catch Me If You Can', 'Monsters, Inc',
       ' The Lord of the Rings: The Fellowship of the Ring',
       'A Beautiful Mind', "Le fabuleux destin d'Amélie Poulain",
       'Sen to Chihiro no kamikakushi', 'Amores perros', 'Snatch',
       'Gladiator', 'Memento', 'Requiem for a Dream', 'Fa Yeung Nin Wah',
       'Fight Club', 'The Green Mile', 'American Beauty', 'The Matrix',
       'The Sixth Sense', 'Lock, Stock and Two Smoking Barrels',
       'American History X', 'Saving Private Ryan', 'The Truman Show',
       'The Big Lebowski', 'Bacheha-Ye aseman',
       'Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni',
       'LA Confidential', 'Mononoke-hime', 'La vita è bella',
       'Good Will Hunting', 'Eskiya', 'Trainspotting', 'Fargo', 'Heat',
       'La haine', 'Se7en', 'Braveheart', 'Before Sunrise', 'Toy Story',
       'The Usual Suspects', 'Casino', 'Forrest Gump', 'The Lion King',
       'Léon', 'The Shawshank Redemption', 'Pulp Fiction',
       'Trois couleurs: Rouge', 'Jurassic Park', "Schindler's List",
       'In the Name of the Father', 'Unforgiven', 'Reservoir Dogs',
       'The Silence of the Lambs', 'Terminator 2: Judgment Day',
       'Goodfellas', 'Dead Poets Society',
       'Indiana Jones and the Last Crusade', 'Tonari no Totoro',
       'Nuovo Cinema Paradiso', 'Die Hard', 'Hotaru no haka',
       'The Princess Bride', 'Full Metal Jacket', 'Stand by Me',
       'Platoon', 'Aliens', 'Back to the Future', 'Ran', 'Idi i smotri',
       'Kaze no tani no Naushika', 'Amadeus', 'Paris, Texas',
       'Once Upon a Time in America',
       'Star Wars: Episode VI - Return of the Jedi', 'Scarface',
       'Blade Runner', 'The Thing', 'Fanny och Alexander', 'Das Boot',
       'Raiders of the Lost Ark', 'The Elephant Man', 'Raging Bull',
       'The Shining', 'Star Wars: Episode V - The Empire Strikes Back',
       'Stalker', 'Apocalypse Now', 'Life of Brian', 'Alien',
       'The Deer Hunter', 'Höstsonaten', 'Star Wars', 'Network',
       'Taxi Driver', 'Rocky', 'Barry Lyndon',
       'Monty Python and the Holy Grail',
       "One Flew Over the Cuckoo's Nest", 'Dersu Uzala',
       'The Godfather: Part II', 'Chinatown', 'The Sting',
       'The Godfather', 'A Clockwork Orange', 'Z',
       '2001: A Space Odyssey', 'Once Upon a Time in the West',
       'Cool Hand Luke', 'La battaglia di Algeri', 'Persona',
       'Andrei Rublev', 'Il buono, il brutto, il cattivo',
       'Per qualche dollaro in più',
       'Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
       'Tengoku to jigoku', 'The Great Escape', 'Seppuku',
       'To Kill a Mockingbird', 'Lawrence of Arabia',
       'Judgment at Nuremberg', 'Yôjinbô', 'The Apartment', 'Psycho',
       'Les quatre cents coups', 'Some Like It Hot', 'North by Northwest',
       'Ben-Hur', 'Vertigo', 'Smultronstället', '12 Angry Men',
       'Le notti di Cabiria', 'The Bridge on the River Kwai',
       'Witness for the Prosecution', 'Paths of Glory',
       'Det sjunde inseglet', 'Pather Panchali', 'On the Waterfront',
       'Dial M for Murder', 'Rear Window', 'Shichinin no samurai',
       'Tôkyô monogatari', 'Le salaire de la peur', "Singin' in the Rain",
       'Ikiru', 'Sunset Blvd', 'All About Eve', 'Rashômon',
       'The Third Man', 'The Treasure of the Sierra Madre',
       ' Ladri di biciclette', "It's a Wonderful Life",
       'Double Indemnity', 'To Be or Not to Be', 'Casablanca',
       'Citizen Kane', 'Rebecca', 'The Great Dictator',
       'Mr Smith Goes to Washington', 'Gone with the Wind',
       'Modern Times', 'It Happened One Night', 'City Lights',
       'M - Eine Stadt sucht einen Mörder', "La passion de Jeanne d'Arc",
       'Metropolis', 'The General', 'The Gold Rush', 'Sherlock Jr',
       'The Kid'], dtype=object)

In [5]:
df.describe().T

        count    mean   std     min     25%     50%     75%     max
year   250.00 1986.79 24.76 1921.00 1968.00 1994.00 2006.75 2021.00
rating 250.00    8.26  0.23    8.00    8.10    8.20    8.40    9.20

In [6]:
# Sort by year decreasing
df.sort_values(by=['year'], ascending=False, inplace=True)
df.to_csv('./imdb.csv', index=False)